<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Eva Operations</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/schedule">Church Schedule</a></li>
        <li><a href="/cleaning">Cleaning Schedule</a></li>
        <li id="current"><a href="#">Church Events</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/">Church Schedule</a></li>
        <li><a href="/cleaning">Cleaning Schedule</a></li>
        <li id="current"><a href="#">Church Events</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container" style="text-align:center;">
      <h1>Church Events</h1>
<!-- ================ Tabs =================== -->
    <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#test1">Varonil</a></li>
        <li class="tab col s3"><a href="#test2">Femenil</a></li>
        <li class="tab col s3"><a href="#test3">Adolecents</a></li>
        <li class="tab col s3"><a href="#test4">Ni&#241os</a></li>
      </ul>
    </div>
<!-- ============== Weeks =================== -->
      <div id="test1" class="col s12">
        <div class="container">
          <h5>Noviembre</h5>
          <p>11/05/2016: Taller De Obreros</p>
        </div>
         <div class="container">
          <h5>Diciembre</h5>
          <p>Nothing Scheduled</p>
        </div>
      </div>
      <div id="test2" class="col s12">
        <div class="container">
          <h5>November</h5>
          <p>11/06/2016: Covivio</p>
          <p>11/12/2016: Femenil</p>
          <p>11/12/2016: Venta De Enchiladas</p>
        </div>
         <div class="container">
          <h5>December</h5>
          <p>12/10/2016: Femenil Dinamica</p>
          <p>12/11/2016: Actividad</p>
          <p>12/24/2016: Concurso</p>
        </div>
      </div>
      <div id="test3" class="col s12">
        <div class="container">
          <h5>Noviembre</h5>
          <p>11/05/2016: Dirigen Culto</p>
        </div>
         <div class="container">
          <h5>December</h5>
          <p>12/10/2016: Venta</p>
        </div>
      </div>
      <div id="test4" class="col s12">
        <div class="container">
          <h5>Noviembre</h5>
          <p>11/05/2016: Velada</p>
          <p>11/26/2016: Concurso</p>
        </div>
         <div class="container">
          <h5>December</h5>
          <p>12/31/2016: Obra de Jose el So&#241ador</p>
        </div>
      </div>
  </div>
<!-- ======================================= --> 


    </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Site Purpose</h5>
          <p class="grey-text text-lighten-4">This page was created so everyone in our church has access to all the events and operations that are made by the church. The mission is to have strong communication and in being organized to do the work of the Lord.</p>


        </div>
        <div class="col l1 s12">

        </div>
        <div class="col l5 s12">
          <h5 class="white-text">Contactos</h5>
          <ul>
            <a href="#!"><li class="leaders" value="0" id="arturo">Hmn. Arturo Soto</li></a>
            <a href="#!"><li class="leaders" value="1" id="alejandro">Hmn. Alejandro Martinez</li></a>
            <a href="#!"><li class="leaders" value="2" id="juan">Hmn. Juan Marquez</li></a>
            <a href="#!"><li class="leaders" value="3" id="israel">Hmn. Israel Jaimes</li></a>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" target="_blank" href="http://benjaminarteaga.com">Benjamin Arteaga</a>
      </div>
    </div>
  </footer>