<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href='/' class="brand-logo">Eva Operations</a>
      <ul class="right hide-on-med-and-down">
        <li id="current"><a href="#">Church Schedule</a></li>
        <li><a href="/cleaning">Cleaning Schedule</a></li>
        <li><a href="/events">Church Events</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li id="current"><a href="#">Church Schedule</a></li>
        <li><a href='/cleaning'>Cleaning Schedule</a></li>
        <li><a href="/events">Church Events</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container" style="text-align: center;">
    <h1>Church Schedule</h1>

    <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#test1">11/26/2016</a></li>
        <li class="tab col s3"><a class="active" href="#test2">12/03/2016</a></li>
        <li class="tab col s3 disabled"><a href="#test3">12/10/2016</a></li>
        <li class="tab col s3"><a href="#test4">12/24/2016</a></li>
      </ul>
    </div>
    <div id="test1" class="col s12">Test 1</div>
    <div id="test2" class="col s12">Test 2</div>
    <div id="test3" class="col s12">Test 3</div>
    <div id="test4" class="col s12">Test 4</div>
  </div>

    </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Site Purpose</h5>
          <p class="grey-text text-lighten-4">This page was created so everyone in our church has access to all the events and operations that are made by the church. The mission is to have strong communication and in being organized to do the work of the Lord.</p>


        </div>
        <div class="col l1 s12">

        </div>
        <div class="col l5 s12">
          <h5 class="white-text">Contactos</h5>
          <ul>
            <a href="#!"><li class="leaders" value="0" id="arturo">Hmn. Arturo Soto</li></a>
            <a href="#!"><li class="leaders" value="1" id="alejandro">Hmn. Alejandro Martinez</li></a>
            <a href="#!"><li class="leaders" value="2" id="juan">Hmn. Juan Marquez</li></a>
            <a href="#!"><li class="leaders" value="3" id="israel">Hmn. Israel Jaimes</li></a>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" target="_blank" href="http://benjaminarteaga.com">Benjamin Arteaga</a>
      </div>
    </div>
  </footer>
