<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Eva Operations</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/schedule">Church Schedule</a></li>
        <li id="current"><a href="#">Cleaning Schedule</a></li>
        <li><a href="/events">Church Events</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/schedule">Church Schedule</a></li>
        <li id="current"><a href="#">Cleaning Schedule</a></li>
        <li><a href="/events">Church Events</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container" style="text-align: center;">
      <h2>Cleaning Schedule</h2>
      <br><br>
      <table class="bordered centered">
        <thead>
          <tr>
              <th data-field="id">Number</th>
              <th data-field="name">Name</th>
              <th data-field="week">Week</th>
          </tr>
        </thead>

        <tbody class="list">
         
        </tbody>
      </table>

    </div>
  </div>

    <br><br>

    <div class="section">

    </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Site Purpose</h5>
          <p class="grey-text text-lighten-4">This page was created so everyone in our church has access to all the events and operations that are made by the church. The mission is to have strong communication and in being organized to do the work of the Lord.</p>


        </div>
        <div class="col l1 s12">

        </div>
        <div class="col l5 s12">
          <h5 class="white-text">Contactos</h5>
          <ul>
            <a href="#!"><li class="leaders" value="0" id="arturo">Hmn. Arturo Soto</li></a>
            <a href="#!"><li class="leaders" value="1" id="alejandro">Hmn. Alejandro Martinez</li></a>
            <a href="#!"><li class="leaders" value="2" id="juan">Hmn. Juan Marquez</li></a>
            <a href="#!"><li class="leaders" value="3" id="israel">Hmn. Israel Jaimes</li></a>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" target="_blank" href="http://benjaminarteaga.com">Benjamin Arteaga</a>
      </div>
    </div>
  </footer>
